<mat-drawer-container>
  <mat-drawer
    [mode]="isMobileScreen ? 'over' : 'side'"
    [(opened)]="isDrawerOpen"
    class="w-1/5 bg-green-500 dark:bg-green-900"
    [ngClass]="{ 'w-3/4': isMobileScreen }"
  >
    <div class="my-5 text-2xl text-center dark:text-white">
      Cashflow Tracker
    </div>

    <ul class="flex flex-col items-center justify-center">
      <li
        class="flex w-5/6 p-3 mb-3 cursor-pointer rounded-2xl hover:bg-green-900 hover:text-white dark:text-white dark:hover:bg-green-500 dark:hover:text-black"
        routerLink="/dashboard"
        routerLinkActive="bg-green-900 text-white dark:bg-green-500 dark:text-black"
      >
        <mat-icon class="mr-3" fontIcon="dashboard"></mat-icon>
        Dashboard
      </li>
      <li
        class="flex w-5/6 p-3 mb-3 cursor-pointer rounded-2xl hover:bg-green-900 hover:text-white dark:text-white dark:hover:bg-green-500 dark:hover:text-black"
        routerLink="/profile"
        routerLinkActive="bg-green-900 text-white dark:bg-green-500 dark:text-black"
      >
        <mat-icon class="mr-3" fontIcon="person"></mat-icon>
        Profile
      </li>
      <li
        class="flex w-5/6 p-3 mb-3 cursor-pointer rounded-2xl hover:bg-green-900 hover:text-white dark:text-white dark:hover:bg-green-500 dark:hover:text-black"
        routerLink="/settings"
        routerLinkActive="bg-green-900 text-white dark:bg-green-500 dark:text-black"
      >
        <mat-icon class="mr-3" fontIcon="settings"></mat-icon>
        Settings
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content class="bg-white dark:bg-vs dark:text-white">
    <div
      class="fixed p-2 ml-2 text-white bg-green-900 rounded-full cursor-pointer bottom-2 dark:text-black dark:bg-green-500"
    >
      <mat-icon
        [fontIcon]="isDrawerOpen ? 'chevron_left' : 'chevron_right'"
        (click)="toggleDrawer()"
      ></mat-icon>
    </div>

    <div class="flex flex-col h-full">
      <div
        class="flex-grow h-full p-5 m-5 border border-green-900 rounded dark:border-green-500"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
